<div class="card">
  <ngb-tabset type="tabs">
    <ngb-tab title="Alertas">
      <ng-template ngbTabContent>
        <app-alerts-list></app-alerts-list>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Fuentes">
      <ng-template ngbTabContent>
        <app-alert-sources></app-alert-sources>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Generadores">
      <ng-template ngbTabContent>
        <app-alert-reasons></app-alert-reasons>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
