.nav-item:hover
    background-color: #34495e

.nav-item > .nav-link
    color: #abb2b9

.nav-item > a.nav-link:hover, .nav-item > a.nav-link.active
    color: #fff

ul.sub-items
  list-style: none
  padding-left: 0

.sub-items > .sub-item > a
  padding-left: 50px

.user-name
  font-weight: bold
  font-size: 1.10rem
  color: #abb2b9
  padding: 0 13px
  margin: 0

.nav-item > .nav-link > .fa-fw
  margin: 0 5px 0 0

.user-name.nav-item > a.nav-link:hover, .user-name > a.nav-item:focus
   color: #abb2b9 !important

.dropdown-menu
  border-radius: 0
  right: auto

.dropdown-menu > .dropdown-item
  font-size: .85rem

.user-email
  margin-bottom: 20px
  font-size: 75%

.user-email > .nav-link
  background-color: #2f4050


.nav-pills .nav-link.active, .show>.nav-pills .nav-link
  background-color: #2980b9

a.nav-link
  border-radius: 0 !important

small
  font-size: 70%

.nav-item
  font-weight: 700
