<h3>Formularios</h3>
<div class="row">
  <div *ngFor="let form of _forms | async" class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ form.title }} </h5>
        <p class="card-text">{{ form.description }}</p>
        <p class="card-text">
          <small class="text-muted">
            <i class="fas fa-calendar-alt fa-fw"></i> {{ form.createDate | date: 'shortDate' }}
          </small>
        </p>
      </div>
      <div class="card-footer">
        <a [routerLink]="[form.id]" class="btn btn-sm btn-success" href="#" role="button">
          <i class="fas fa-edit fa-fw"></i> Editar
        </a>
      </div>
    </div>
  </div>
</div>
