agm-map
  height: 400px

h4.section-title
  text-transform: uppercase
  margin-top: 15px
  margin-bottom: 15px
  font-size: 1.15rem
  color: #6c757d !important

.card-header > .card-title
  margin-bottom: 0

#count-card
  .card-header
    padding: .5rem 1.25rem
  .card-body
    font-size: 5.5rem
    padding: 1.25rem 3.5rem
