<app-loading-modal *ngIf="!_participant"></app-loading-modal>
<div *ngIf="_participant">
  <div class="row">
    <div class="col-md-3">
      <ng-container>
        <individual-details [individual]="_participant"></individual-details>
      </ng-container>
    </div>
    <div class="col-md-9">
      <div class="card">
        <ngb-tabset #t type="tabs" *ngIf="_participant">
          <ngb-tab title="Riesgo">
            <ng-template ngbTabContent>
              <participant-compliance [participant]="_participant" (updateScore)="getParticipant()"></participant-compliance>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Perfil Transaccional">
            <ng-template ngbTabContent>
              <app-financial-profile [participant]="_participant"></app-financial-profile>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Perfil Financiero">
            <ng-template ngbTabContent>
              <app-participant-profile [participant]="_participant"></app-participant-profile>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Descartes">
            <ng-template ngbTabContent>
              <app-participant-discards [participantId]="_participant.id"></app-participant-discards>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Documentos">
            <ng-template ngbTabContent>
              <participant-documents [participant]="_participant"></participant-documents>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Relaciones">
            <ng-template ngbTabContent>
              <participant-relationships [participant]="_participant"></participant-relationships>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Editar">
            <ng-template ngbTabContent>
              <div class="form-container">
                <individual-form *ngIf="_participant.participantTypeId == 1" [individual]="_participantCopy"
                  (updateParticipant)="getParticipant()"></individual-form>
              </div>
              <div class="form-container">
                <entity-form *ngIf="_participant.participantTypeId == 2" [entity]="_participantCopy"
                  (updateParticipant)="getParticipant()"></entity-form>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>

