<div class="container-fluid">
  <h3>Relaciones</h3>
  <app-loading-modal *ngIf="!_relationships"></app-loading-modal>
  <div *ngIf="_relationships" class="row">
    <div *ngFor="let relation of _relationships" class="col-md-4">
      <app-card>
        <div card-section="body" class="border-primary">
          <h4 class="card-title">
            <a *ngIf="relation.participantId == participant.id" [routerLink]="['/app', 'participantes', relation.relatedParticipantId]">
              {{ relation.relatedParticipant.shortName }}
            </a>
            <a *ngIf="relation.relatedParticipantId == participant.id" [routerLink]="['/app', 'participantes', relation.participantId]">
              {{ relation.participant.shortName }}
            </a>
            <small *ngIf="relation.participantId == participant.id" class="score pull-right" [ngClass]="{
              'text-success': relation.relatedParticipant.score < 3,
              'text-warning': relation.relatedParticipant.score > 2.99 && relation.relatedParticipant.score < 6,
              'text-danger': relation.relatedParticipant.score >= 6 }">
              {{ relation.relatedParticipant.score | number: '1.2-2' }}
            </small>
            <small *ngIf="relation.relatedParticipantId == participant.id" class="score pull-right" [ngClass]="{
              'text-success': relation.participant.score < 3,
              'text-warning': relation.participant.score > 2.99 && relation.participant.score < 6,
              'text-danger': relation.participant.score >= 6 }">
              {{ relation.participant.score | number: '1.2-2' }}
            </small>
          </h4>
          <p class="card-text">{{ relation.type.name }}</p>
          <div class="d-flex justify-content-end">
            <button type="button" (click)="removeRelation(relation.id)" class="btn btn-outline-danger btn-sm">
              <i class="far fa-trash-alt"></i> Borrar</button>
          </div>
        </div>
      </app-card>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary add-link" (click)="open()">
      <i class="fab fa-connectdevelop"></i> Agregar Relaciones</button>
  </div>
</div>
