.add-link
  font-size: 1.15em
  margin-bottom: 20px
  display: block

.card-title
  font-size: 1.25em
  margin-bottom: 6px

.card-text
  margin-bottom: 5px

.score
  font-weight: bold
  font-size: .85em
