<div class="container-fluid">
  <h3>Descartes</h3>
  <button type="button" (click)="runDiscard()" class="btn btn-primary">Ejecutar descarte</button>
  <app-custom-table [items]="_discards | async" [options]="_table"></app-custom-table>
</div>
