<nav id="breadcrumb" aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/']"><i class="fas fa-home"></i> Inicio</a>
    </li>
    <li *ngFor="let route of routes; let first = first; let last = last " class="breadcrumb-item" [ngClass]="{ active: last }">
      <ng-container *ngIf="!last">
        <a [routerLink]="[route]">{{route}}</a>
      </ng-container>
      <ng-container *ngIf="last">
        {{ route }}
      </ng-container>
    </li>
  </ol>
</nav>

<nav id="back-navigation" [hidden]="isHome" role="navigation" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a (click)="back()"> <i class="fas fa-arrow-left"></i> Regresar</a>
    </li>
  </ol>
</nav>
