<div class="card">
  <div class="card-header">
    <p class="card-title">
      {{ title }}
    </p>
  </div>
  <div class="card-body">
    <div *ngIf="!items.length">
        <img  src="assets/img/no-data.svg" alt="" height=140px>
        <br>
        <b>Sin datos aún</b>
    </div>
    <canvas *ngIf="items.length" baseChart [data]="_values" [labels]="_labels" [chartType]="type" [options]="options" [colors]="colors"></canvas>
  </div>
</div>
