<form #individualForm="ngForm">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="matrix">Matriz de Riesgo</label>
        <select class="custom-select required form-control" [(ngModel)]="_individual.paramMatrixId" name="matrix" id="matrix">
          <option [value]="_default" disabled="true" selected>---Selecionar--- </option>
          <option *ngFor="let matrix of _matrices | async as list" [value]="matrix.id">{{ matrix.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-8"></div>
    <div class="col-12">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" name="pep" id="pep" [(ngModel)]="_individual.pep" class="custom-control-input">
        <label class="custom-control-label" for="pep">Es PEP?</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="first-name">Primer Nombre</label>
        <input [(ngModel)]="_individual.firstName" required type="text" name="first-name" id="first-name" class="form-control"
          placeholder="Primer Nombre Individuo" aria-describedby="helpId">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="second-name">Segundo Nombre</label>
        <input type="text" [(ngModel)]="_individual.secondName" name="second-name" id="second-name" class="form-control"
          placeholder="Segundo Nombre Individuo" aria-describedby="helpId">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="firs-name">Apellido</label>
        <input type="text" [(ngModel)]="_individual.thirdName" required name="third-name" id="third-name" class="form-control"
          placeholder="Apellido Individuo" aria-describedby="helpId">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="fourth-name">Segundo Apellido</label>
        <input type="text" [(ngModel)]="_individual.fourthName" name="fourth-name" id="fourth-name" class="form-control"
          placeholder="Segundo Apellido Individuo" aria-describedby="helpId">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="code"># Documento Personal</label>
        <input type="text" name="code" id="code" required [(ngModel)]="_individual.code" class="form-control"
          placeholder="C.I.P./Pasaporte">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="country">País de Origen</label>
        <select class="custom-select form-control" required [(ngModel)]="_individual.countryId" name="country-id" id="country"
          required>
          <option [value]="_default" disabled="true">---Seleccionar---</option>
          <option *ngFor="let country of _countries" [value]="country.id">{{ country.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="birthDate">Fecha de Nacimiento</label>
        <app-date-input [(ngModel)]="_individual.birthDate" [maxDate]="_maxDate" [minDate]="_minDate" placeholder="YYYY-MM-DD"
          name="dp"></app-date-input>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="gender">Género</label>
        <select class="custom-select required form-control" [(ngModel)]="_individual.genderId" name="GenderID" id="GenderID"
          required>
          <option [value]="_default" disabled="true">---Seleccionar---</option>
          <option *ngFor="let gender of _genders" [value]="gender.id">{{ gender.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" email [(ngModel)]="_individual.email" name="email" id="email"
          aria-describedby="helpId" placeholder="example@domain.com">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="website">Sitio Web</label>
        <input type="url" class="form-control" [(ngModel)]="_individual.webSite" name="website" id="website"
          aria-describedby="helpId" placeholder="http://example.com">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="phone-number">Número Telefónico</label>
        <input type="tel" class="form-control" [(ngModel)]="_individual.phone" name="phone-number" id="phone-number"
          aria-describedby="helpId" placeholder="9999-9999">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="mobile-phone">Número Celular</label>
        <input type="tel" class="form-control" required [(ngModel)]="_individual.mobilePhone" name="mobile-phone" id="mobile-phone"
          aria-describedby="helpId" placeholder="9999-9999">
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="address">Dirección</label>
        <textarea class="form-control" name="address" required id="address" rows="3" [(ngModel)]="_individual.address"
          (blur)="setLocation()"></textarea>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card" *ngIf="_location">
        <div class="card-body">
          <agm-map [latitude]="_location.lat" [longitude]="_location.lng" [zoom]=15>
            <agm-marker [latitude]="_location.lat" [longitude]="_location.lng"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
    <div class="col-md-12 d-flex justify-content-end">
      <a [routerLink]="['/app/participantes']" class="btn btn-outline-secondary" role="button">
        <i class="fas fa-ban" aria-hidden="true"></i> Cancelar</a>
      <button type="button" [disabled]="_saving" [disabled]="!individualForm.form.valid" class="btn btn-primary"
        (click)="saveIndividual()">
        <i class="fas fa-download" aria-hidden="true"></i> Guardar</button>
    </div>
  </div>
</form>
