@import '_variables.sass'

.paginator
  display: inline-block
  margin-right: 20px

.custom-select
  margin: 0 5px
  width: inherit

.pagination
  margin-bottom: 0px

.page-item.active .page-link
  border-color: $brand-primary
