<div class="container-fluid">
  <h4 class="card-title">Sanciones</h4>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <select class="form-control custom-select" [(ngModel)]="_currentListID" name="list" id="list" (ngModelChange)="getSanctions()">
          <option selected disabled [value]="undefined">--- Seleccionar Lista ---</option>
          <option *ngFor="let list of _lists | async" [value]="list.id">{{ list.name }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <app-custom-table *ngIf="_currentListID" [options]="_table" [items]="_sanctions | async"></app-custom-table>
</div>

