<div class="container-fluid">
  <h3>Matriz de Riesgo</h3>
  <div class="container-fluid" *ngIf="_categories">
    <ng-container *ngFor="let category of _categories">
      <div class="card" *ngIf="category">
        <div class="card-header">{{ category.name }}</div>
        <div class="card-body row">
          <div class="col-md-6" *ngFor="let param of category.params">
            <ng-container *ngIf="_partParams">
              <compliance-param [param]="param" [participant]="participant" [partParams]="_partParams" (update)="updateRate($event)"></compliance-param>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
