<div class="row" *ngIf="_categories">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <app-custom-table [options]="_table" [items]="_categories" (addItem)="addCategory($event)" (editItem)="editCategory($event)"></app-custom-table>
      </div>
    </div>
  </div>
</div>
<app-loading-modal *ngIf="!_categories"></app-loading-modal>
