<nav class="navbar navbar-expand-lg navbar-inverse sticky-top bg-primary navbar-dark text-white">
  <button type="button" class="btn btn-primary sidebar-toggle" (click)="toggle()">
    <i class="fas fa-align-left"></i>
  </button>
  <a class="navbar-brand" [routerLink]="['/']">

    <img class="logo" src="assets/img/Logo Blanco.png" aria-hidden="true">
    ProCompliance
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true">
          <span class="fa-layers fa-2x fa-fw">
            <i class="far fa-bell"></i>
            <ng-container *ngIf="_count">
              <span class="fa-layers-counter fa-lg">{{ _count }}</span>
            </ng-container>
          </span>
        </a>
        <div class="dropdown-menu">
          <ng-container *ngFor="let alert of _alerts">
            <span *ngIf="!alert.Seen" class="dropdown-item">
              {{ alert.Seen }}
              <i class="fas fa-exclamation-circle fa-fw text-danger" aria-hidden="true"></i>
              <span class="font-weight-bold"> {{alert.Name}}</span>
              <span [title]="'Ocultar'" (click)="hideAlert(alert)">
                <i class="far fa-eye-slash fw fa-xs pull-right"></i>
              </span>
              <br>
              <span class="d-flex justify-content-between">
                <a [routerLink]="['participantes', alert.ParticipantID ]" class="font-weight-bold">
                  {{ alert.Participant.shortName }}</a>
                <span>{{ alert.Date | date: 'd/M/yy, h:mm a' }}</span>
              </span>
            </span>
          </ng-container>
          <a [routerLink]="['reportes', 'alertas']" class="dropdown-item text-center font-weight-bold">
            <i class="fas fa-list-ul fa-fw"></i> Ver todo</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
