<app-loading-modal *ngIf="!_matrix"></app-loading-modal>
<h3 *ngIf="_matrix">
  {{ _matrix.name }} / {{ _matrix.code }}
  <a [routerLink]="['edit']" class="btn btn-primary">Editar
    <i class="fa fa-edit" aria-hidden="true"></i>
  </a>
</h3>
<div *ngIf="_matrix">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Risk Matrix</h4>
      <table class="table  table-squared">
        <thead>
          <tr>
            <th>Name</th>
            <th>English Name</th>
            <th>Description</th>
            <th>Table</th>
            <th>Weighting</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let category of _matrix.paramCategories">
            <tr class="bg-primary text-white font-weight-bold">
              <td colspan="4">{{ category.englishName }}</td>
              <td>{{ category.weighting }}%</td>
            </tr>
            <tr *ngFor="let param of category.params">
              <td>{{ param.name }}</td>
              <td>{{ param.englishName }}</td>
              <td>{{ param.description }}</td>
              <td>{{ param.paramTable.EnglishName}}</td>
              <td>{{ param.weighting }}%</td>
            </tr>
            <tr>
              <td colspan="5"></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
