<div class="card">
  <ngb-tabset type="tabs">
    <ngb-tab title="Listas">
      <ng-template ngbTabContent>
        <discards-list></discards-list>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Fuentes">
      <ng-template ngbTabContent>
        <sanction-lists></sanction-lists>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Archivos">
      <ng-template ngbTabContent>
        <discard-files></discard-files>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
