.card-columns
    column-count: 4

p.card-text
  margin-bottom: 0.5rem
  font-size: 0.8rem

.card-title
  font-size: 1.35rem

.card-subtitle
  margin-bottom: 5px


.btn.pull-right
  margin-bottom: 15px
  margin-top: 15px

.risk-container
  border-width: 2px
