<div class="container">
  <app-loading-modal [hidden]="_currentForm"></app-loading-modal>
  <h4>{{ _currentForm?.title }}</h4>
  <p class="text-muted">{{ _currentForm?.description }}</p>
  <div *ngFor="let field of _currentForm?.fields" class="fields-list">
    <div class="card">
      <div class="card-body">
        <app-form-field [field]="field"></app-form-field>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary">
    <i class="fas fa-plus   fa-fw"></i> Agregar Campo
  </button>
</div>
