<p [ngClass]="{'text-muted completed': participant.matrixReady}">Completar Matrix
  <span class="float-right">
    <span *ngIf="participant.matrixReady">
      <i class="fas fa-check-circle text-success"></i>
    </span>
    <span *ngIf="!participant.matrixReady">
      <i class="far fa-circle text-muted"></i>
    </span>
  </span>
</p>
<ng-container *ngFor="let doc of _pending | async">
  <p *ngIf="doc.uploaded == 0">{{ doc.name }}
    <span class="float-right">
      <i class="far fa-circle text-muted"></i>
    </span>
  </p>
</ng-container>
<ng-container *ngFor="let doc of _pending | async">
  <p *ngIf="doc.uploaded > 0" class="text-muted completed">{{ doc.name }}
    <span class="float-right">
      <i class="fas fa-check-circle text-success"></i>
    </span>
  </p>
</ng-container>
