<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="field-name">Nombre</label>
      <input type="text" [(ngModel)]="_currentField.name" class="form-control" name="field-name" id="field-name" aria-describedby="helpId" placeholder="Nombre">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="field-type">Tipo</label>
      <select [(ngModel)]="_currentField.typeId" class="custom-select form-control" name="field-type" id="field-type">
        <option [value]="undefined" [disabled]="true">---Seleccionar---</option>
        <option *ngFor="let type of _types | async" [value]="type.id">{{ type.name }}</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
      <label for="required">Requerido</label>
      <select [(ngModel)]="_currentField.required" class="custom-select form-control"
      name="required" id="required">
      <option [value]="undefined" [disabled]="true">---Seleccionar---</option>
      <option [value]="true"> Sí </option>
      <option [value]="false"> No </option>
    </select>
  </div>
  <div class="col-md-12">
    <button type="button" class="btn btn-primary float-right"> <i class="far fa-save    "></i> Guardar</button>
  </div>
</div>
