.login-page
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  height: 100%
  width: 100%
  padding: 10% 0
  position: fixed
  background-image: url("/assets/img/login.jpg")

.logo
  height: 75px
