<div class="login-page d-flex align-content-center justify-content-center">
  <div class="col-md-4">
    <app-card [footer]="false">
      <div card-section="body" id="login-card">
        <img class="logo mx-auto d-block" src="assets/img/blue-logo.png" alt="ProCompliance">
        <form (ngSubmit)="signIn()">
          <div class="form-group">
            <label for="email">
              <i class="far fa-envelope"></i> Email /
              <i class="far fa-user"></i> Nombre Usuario </label>
            <input type="email" [(ngModel)]="_login.userName" class="form-control form-control-lg" name="email" id="email"
              [disabled]="_loading" placeholder="username@domain.com">
            <small id="emailHelpId" class="form-text text-muted">Email / Nombre de Usuario </small>
          </div>
          <div class="form-group">
            <label for="password">
              <i class="fas fa-key" aria-hidden="true"></i> Contraseña</label>
            <input type="password" [(ngModel)]="_login.password" class="form-control form-control-lg" name="password"
              id="password" placeholder="Contraseña" [disabled]="_loading">
            <small class="form-text text-muted">Contraseña de Usuario</small>
          </div>
          <div class="form-group" *ngIf="_invalid">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>Credenciales inválidas!</strong> Contraseña y/o Nombre de Usuario/Email incorrectos
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="_loading" type="submit" name="" id="" class="btn btn-primary btn-lg btn-block">Entrar
              <ng-container *ngIf="_loading===false">
                <span>
                  <i class="fas fa-sign-in-alt"></i>
                </span>
              </ng-container>
              <ng-container *ngIf="_loading">
                <span>
                  <i class="fas fa-sync fa-spin"></i>
                </span>
              </ng-container>
            </button>
          </div>
        </form>
      </div>
    </app-card>
  </div>
</div>
