<form #entityForm="ngForm">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="matrix">Matriz de Riesgo</label>
        <select class="custom-select form-control" required [(ngModel)]="_entity.paramMatrixId" name="matrix" id="matrix">
          <option [value]="_default" disabled="true" selected>---Selecionar--- </option>
          <option *ngFor="let matrix of _matrices | async as list" [value]="matrix.id">{{ matrix.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="first-name">Razón Social</label>
        <input [(ngModel)]="_entity.firstName" required type="text" name="first-name" id="first-name" class="form-control"
          placeholder="Razón Social de Entidad" aria-describedby="helpId">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="second-name">Nombre Comercial</label>
        <input type="text" [(ngModel)]="_entity.secondName" name="second-name" id="second-name" class="form-control"
          placeholder="Nombre Comercial" required>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="code">RUC/NIT</label>
        <input type="text" name="code" required id="code" [(ngModel)]="_entity.code" class="form-control" placeholder="RUC/NIT de la Entidad">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="country">País de Constitución</label>
        <select class="form-control required custom-select" name="country" id="country" [(ngModel)]="_entity.countryId">
          <option [value]="undefined" disabled>---Seleccionar---</option>
          <option *ngFor="let country of _countries" [value]="country.id">{{ country.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="birthDate">Fecha Constitución</label>
        <app-date-input [required]="true" [(ngModel)]="_entity.birthDate" [maxDate]="_maxDate" [minDate]="_minDate" placeholder="YYYY-MM-DD"
          name="dp"></app-date-input>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="representative">Representante Legal</label>
        <input type="text" class="form-control" [(ngModel)]="_entity.legalRepresentative" name="representative" id="representative"
          aria-describedby="helpId" placeholder="Represante Legal de la Entidad">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" required [(ngModel)]="_entity.email" name="email" id="email" aria-describedby="helpId"
          placeholder="example@domain.com" email>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="website">Sitio Web</label>
        <input type="url" class="form-control" [(ngModel)]="_entity.webSite" name="website" id="website"
          aria-describedby="helpId" placeholder="http://example.com">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="phone-number">Número Telefónico</label>
        <input type="tel" tel class="form-control" [(ngModel)]="_entity.phone" name="phone-number" id="phone-number"
          aria-describedby="helpId" placeholder="9999-9999">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="mobile-phoner">Número Celular</label>
        <input type="tel" class="form-control" [(ngModel)]="_entity.mobilePhone" name="mobile-phone" id="mobile-phone"
          aria-describedby="helpId" placeholder="9999-9999">
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="address">Dirección</label>
        <textarea [(ngModel)]="_entity.address" required class="form-control" name="address" id="" rows="3" placeholder="Locación de la Entidad"
          (blur)="setLocation()"></textarea>
      </div>
    </div>
    <div class="col-md-12">
      <agm-map *ngIf="_location" [latitude]="_location.lat" [longitude]="_location.lng" [zoom]=15>
        <agm-marker [latitude]="_location.lat" [longitude]="_location.lng"></agm-marker>
      </agm-map>
    </div>
    <div class="col-md-12 d-flex justify-content-end">
      <a [routerLink]="['/app/participantes']" class="btn btn-outline-secondary" role="button">
        <i class="fas fa-ban" aria-hidden="true"></i> Cancelar</a>
      <button type="button" [disabled]="!entityForm.form.valid" class="btn btn-primary" (click)="saveEntity()">
        <i class="fas fa-download" aria-hidden="true"></i> Guardar</button>
    </div>
  </div>
</form>
