<app-card>
  <div card-section="body">
    <app-custom-table [options]="_table" [items]="_users | async" (editItem)="updateUser($event)" (removeItem)="deleteUser($event)" ></app-custom-table>
  </div>
</app-card>
