<app-loading-modal *ngIf="!items"></app-loading-modal>
<ng-container *ngIf="items">
  <div class="row justify-content-between top-bar">
    <div class="col-md-12">
      <h4 *ngIf="options.showTitle && options.title">{{ options.title }}</h4>
    </div>
    <div class="col-md-4">
      <div *ngIf="options.searcheable" class="form-group search-form">
        <input type="text" class="form-control" name="filter" id="filter" [(ngModel)]="_searchText" (ngModelChange)="filterItems()"
          placeholder="&#xf002; Búsqueda" style="font-family:Niramit, FontAwesome">
      </div>
    </div>
    <div id="exports-buttons" class="col-md-8 d-flex justify-content-end pull-right">
      <button *ngIf="options.exportToPDF" type="button" class="btn btn-outline-danger" (click)="generatePDF()" ngbTooltip="Exportar a PDF">
        <i class="far fa-file-pdf fa-fw"></i> Exportar PDF
      </button>
      <button *ngIf="options.exportToCSV" type="button" class="btn btn-outline-success" (click)="exportCSV()" ngbTooltip="Exportar a Excel">
        <i class="far fa-file-excel fa-fw"></i> Exportar Excel
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover" [ngClass]="options.style" *ngIf="_pagedItems">
      <thead>
        <tr>
          <ng-container *ngFor="let header of options.columns">
            <th class="text-nowrap" *ngIf="!header.hidden" (click)="sortByColumn(header)" [ngClass]="{'text-center': header.type == 'checkbox'}">
              {{ header.title }}
              <ng-container>
                <span *ngIf="_sortColumn != header.name">
                  <i class="fas fa-sort"></i>
                </span>
                <span *ngIf="_sortColumn === header.name && _sortDesc">
                  <i class="fas fa-sort-amount-down"></i>
                </span>
                <span *ngIf="_sortColumn === header.name && !_sortDesc">
                  <i class="fas fa-sort-amount-up"></i>
                </span>
              </ng-container>
            </th>
          </ng-container>
          <th *ngIf="options.editable || options.detailsURL" class="text-center actions-header">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="options.lookup" id="lookup-row" class="table-primary">
          <ng-container *ngFor="let col of options.columns">
            <td *ngIf="!col.hidden">
              <select [disabled]="!col.lookup" [ngClass]="{'font-weight-bold': _filterValues[col.name]}" class="custom-select form-control form-control-sm"
                [(ngModel)]="_filterValues[col.name]" (change)="changeFilter()">
                <option [ngValue]="undefined" selected>---Todos---</option>
                <ng-container *ngIf="col.lookup">
                  <option *ngFor="let value of col.lookupValues" class="font-weight-bold" [ngValue]="value">{{ value }}</option>
                </ng-container>
              </select>
            </td>
          </ng-container>
          <td *ngIf="!options.reportsOnly"></td>
        </tr>
        <tr *ngIf="!_pagedItems.length">
          <td class="text-center" [colSpan]="_visibleColumns + 1">
            <img src="assets/img/no-data.svg" alt="" style="height: 140px">
            <br>
            <b>Sin elementos disponibles</b>
          </td>
        </tr>
        <ng-container *ngFor="let item of _pagedItems">
          <tr *ngIf="item.id != _selectedItem.id || options.addMethod !== 'inline'" (dblclick)="selectItem(item)">
            <ng-container *ngFor="let col of options.columns">
              <td class="text-nowrap" *ngIf="!col.hidden" >
                <ng-container [ngSwitch]="col.type">
                  <span *ngSwitchCase="'date'">
                    {{ item | column: col.name | date: 'dd/MM/yyyy' }}
                  </span>
                  <span *ngSwitchCase="'datetime'">
                    {{ item | column: col.name | date: 'd/MM/yyyy, h:mm a' }}
                  </span>
                  <span [ngClass]="getClassRate(item.rate, col)" *ngSwitchCase="'decimal'">
                    {{ item | column: col.name | number: '1.3-3' }}
                  </span>
                  <span [ngClass]="getClassRate(item.rate, col)" *ngSwitchCase="'number'">
                    {{ item | column: col.name | number: '1.2-2' }}
                  </span>
                  <span *ngSwitchCase="'percent'">
                    {{ item | column: col.name | number: '1.2-2' }} %
                  </span>
                  <span *ngSwitchCase="'money'">
                    $ {{ item | column: col.name | number: '1.2' }}
                  </span>
                  <span *ngSwitchCase="'boolean'">
                    <span [innerHTML]="item | column: col.name | boolean"></span>
                  </span>
                  <span *ngSwitchCase="'checkbox'">
                    <span [innerHTML]="item | column: col.name | boolean"></span>
                  </span>
                  <span *ngSwitchCase="'object'">
                    {{ item | column: col.objectText }}
                  </span>
                  <span *ngSwitchCase="'file'">
                    <a [href]="col.fileURL + item[col.fileID]" [download]="true" [target]="'_blank'">{{ item | column: col.fileName }}</a>
                  </span>
                  <span [ngClass]="getClassRate(item.rate, col)" *ngSwitchDefault>
                    {{ item | column: col.name }}
                  </span>
                </ng-container>
              </td>
            </ng-container>
            <td *ngIf="options.editable || options.detailsURL" class="text-center actions-cell">
              <span class="action-button" *ngIf="options.detailsURL" [routerLink]="getDetailsURL(item.id)" placement="top" ngbTooltip="Detalles">
                <i class="fas fa-search-plus fa-lg text-primary"></i>
              </span>
              <span class="action-button" *ngIf="editItem.observers.length" (click)="selectItem(item)" placement="top" ngbTooltip="Editar">
                <i class="fas fa-edit fa-lg text-success"></i>
              </span>
              <span class="action-button" *ngIf="removeItem.observers.length" [swal]="_deleteMessage" (confirm)="deleteItem(item.id)" placement="top" ngbTooltip="Eliminar">
                <i class="far fa-trash-alt fa-lg text-danger"></i>
              </span>
            </td>
          </tr>
          <tr class="table-info" *ngIf="item.id === _selectedItem.id && options.addMethod === 'inline'">
            <ng-container *ngFor="let col of options.columns">
              <td *ngIf="!col.hidden" [ngClass]="{'text-center': col.type == 'checkbox'}">
                <ng-container *ngIf="!col.readonly" [ngSwitch]="col.type">
                  <select *ngSwitchCase="'boolean'" class="form-control custom-select" [(ngModel)]="_selectedItem[col.name]" [name]="col.name">
                    <option value="null" disabled>---</option>
                    <option *ngFor="let val of _booleanValues" class="font-weight-bold" [ngValue]="val.value">{{val.display}}</option>
                  </select>
                  <input *ngSwitchCase="'checkbox'" [checked]="_selectedItem[col.name]" class="form-control" type="{{ col.type }}" (change)="_selectedItem[col.name] = !_selectedItem[col.name]">
                  <input *ngSwitchDefault class="form-control" type="{{ col.type }}" [(ngModel)]="_selectedItem[col.name]" placeholder="{{ col.title }}">
                  <select *ngSwitchCase="'object'" class="form-control custom-select" [(ngModel)]="_selectedItem[col.objectID]" [name]="col.name"
                    [id]="col.name">
                    <option *ngFor="let val of col.list" [value]="val[col.listID]">
                      {{ val[col.listDisplay] }}
                    </option>
                  </select>
                </ng-container>
                <ng-container *ngIf="col.readonly" [ngSwitch]="col.type">
                  <ng-container *ngSwitchCase="'date'">
                    {{ item | column: col.name | date: 'dd/MM/yyyy' : '+0600' }}
                  </ng-container>
                  <ng-container *ngSwitchCase="'datetime'">
                    {{ item | column: col.name | date:'d/MM/yyyy, h:mm a' : '-0600' }}
                  </ng-container>
                  <ng-container *ngSwitchCase="'decimal'">
                    {{ item | column: col.name | number: '1.3-3' }}
                  </ng-container>
                  <ng-container *ngSwitchCase="'boolean'">
                    <span [innerHTML]="item | column: col.name | boolean"></span>
                  </ng-container>
                  <ng-container *ngSwitchCase="'checkbox'">
                    <span [innerHTML]="item | column: col.name | boolean"></span>
                  </ng-container>
                  <ng-container *ngSwitchCase="'object'">
                    {{ item | column: col.objectColumn }}
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{ item | column: col.name }}
                  </ng-container>
                </ng-container>
              </td>
            </ng-container>
            <td class="text-center actions-cell">
              <span class="action-button" (click)="updateItem()" placement="top" ngbTooltip="Guardar Cambios">
                <i class="fas fa-lock fa-lg text-success"></i>
              </span>
              <span class="action-button" (click)="cancelSelect()" placement="top" ngbTooltip="Cancelar">
                <i class="fas fa-times fa-lg text-danger"></i>
              </span>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="options.editable && options.addMethod == 'inline' && addItem.observers.length">
          <ng-container *ngFor="let col of options.columns">
            <td *ngIf="!col.hidden">
              <ng-container *ngIf="!col.readonly" [ngSwitch]="col.type">
                <select *ngSwitchCase="'object'" class="form-control custom-select" [(ngModel)]="_newItem[col.objectID]" [name]="col.name"
                  [id]="col.name">
                  <option value="undefined" disabled>--- Seleccionar ---</option>
                  <option *ngFor="let val of col.list" [value]="val[col.listID]">
                    {{ val[col.listDisplay] }}
                  </option>
                </select>
                <select *ngSwitchCase="'boolean'" class="form-control custom-select" [(ngModel)]="_newItem[col.name]" [name]="col.name">
                  <option value="undefined" disabled>---</option>
                  <option *ngFor="let val of _booleanValues" class="font-weight-bold" [ngValue]="val.value">{{val.display}}</option>
                </select>
                <input *ngSwitchDefault class="form-control" type="{{ col.type }}" [(ngModel)]="_newItem[col.name]" placeholder="{{ col.title }}">
              </ng-container>
            </td>
          </ng-container>
          <td class="text-center">
            <span (click)="createItem()" placement="top" ngbTooltip="Agregar elemento">
              <i class="far fa-plus-square fa-lg text-primary"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-between paginator">
    <div class="col-md-8">
      <ng-container *ngIf="options.pageable">
        <app-paginator [itemsCount]="_itemsCount" (paginate)="setPage($event)"></app-paginator>
      </ng-container>
    </div>
    <div class="col-md-4">
      <button *ngIf="options.addMethod === 'modal' && addItem.observers.length" type="button" class="btn btn-primary pull-right"
        (click)="openModal()">
        <i class="fa fa-plus-circle"></i> Nuevo elemento
      </button>
      <a *ngIf="options.newURL" [routerLink]="options.newURL" class="btn btn-primary pull-right">
        <i class="fa fa-plus-circle"></i> Nuevo elemento
      </a>
    </div>
  </div>
</ng-container>
