<div class="wrapper">
  <app-sidebar [ngClass]="{ active: _active }" id="sidebar"> </app-sidebar>
  <main [ngClass]="{ active: _active }" id="content" class="main">
    <app-navbar (toggleSidebar)="toogleSidebar()"></app-navbar>
    <div class="container-fluid">
      <app-breadcrumb></app-breadcrumb>
      <div [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </div>
  </main>
</div>
