.wrapper
  display: flex
  width: 100%

#sidebar
  background-color: #2c3e50
  padding-top: 25px
  width: 200px
  position: fixed
  top: 0
  left: 0
  height: 100vh
  z-index: 999
  color: #fff
  transition: all 0.4s

#content
  width: calc(100% - 200px)
  min-height: 100vh
  transition: all 0.3s
  position: absolute
  top: 0
  right: 0
  animation-name: fadeInUp
  animation-duration: 1s

#content .container-fluid
  padding-top: 15px

#content.active
  width: 100%

#sidebar.active
  margin-left: -200px

@media (max-width: 768px)
  #sidebar
    margin-left: -200px

  #sidebar.active
    margin-left: 0


  #content
    width: 100%


  #content.active
    width: calc(100% - 200px)

