.user-img
  height: 80px
  margin-bottom: 10px

.info-section
  border-right: 1px solid #d6d6d6
  padding-left: 0
  margin-left: -20px

h5.user-name
  font-size: 1.15rem

.info-name
  color: #4d85b6
  font-weight: bold

.participant-info
  margin-bottom: 7px
  font-size: .85rem

.img-circle
  border-radius: 100%
  border: 1px solid #d6d6d6

.section-block
  padding-top: 0

.completed
  text-decoration: line-through

agm-map
  height: 300px

.card
  border-width: 4px 0 0 0

.chart-container
  height: 40px
  margin-bottom: 20px

#baCanvas
  height: 40px;
