<div class="card border-primary">
  <div class="card-body text-center">
    <img *ngIf="individual.participantTypeId==1" src="assets/img/user.png" alt="" class="img-fluid user-img">
    <img *ngIf="individual.participantTypeId==2" src="assets/img/office-block.png" alt="" class="img-fluid user-img">
    <h4 class="user-name">
      {{ individual.shortName }}
    </h4>
    <h5 *ngIf="individual.score" class="font-weight-bold" [ngClass]="{'text-success': individual.score < 3, 'text-warning': individual.score > 2.99 && individual.score < 6, 'text-danger': individual.score >= 6 }">
      <i class="fab fa-cloudscale"></i> {{ individual.score | number: '1.3-3' }}
    </h5>
    <br>
    <p><i class="fas fa-tasks"></i> Debida diligencia</p>
    <ngb-progressbar *ngIf="_values" type="success" [showValue]="false" [value]="_values[0]" [max]="_values[0] + _values[1]" [striped]="true"></ngb-progressbar>
  </div>
  <div class="card-body section-block">
    <ngb-tabset type="tabs" [justify]="'center'">
      <ngb-tab>
        <ng-template ngbTabTitle>
          <i class="far fa-address-card fa-fw"></i> Info</ng-template>
        <ng-template ngbTabContent>
          <small class="text-primary font-weight-bold">
            <i class="far fa-address-card"></i>
            <ng-container>
              <span *ngIf="individual.participantTypeId==1"> Documento de Identidad</span>
              <span *ngIf="individual.participantTypeId==2"> RUC/NIT</span>
            </ng-container>
          </small>
          <p class="participant-info">{{ individual.code }}</p>
          <small class="text-primary font-weight-bold">
            <i class="far fa-flag"></i>
            <ng-container>
              <span *ngIf="individual.participantTypeId==1"> País de Origen</span>
              <span *ngIf="individual.participantTypeId==2"> País de Constitución</span>
            </ng-container>
          </small>
          <p class="participant-info">{{ individual.country.name }}</p>
          <small class="text-primary font-weight-bold">
            <i class="far fa-envelope-open"></i> Email
          </small>
          <p class="participant-info">{{ individual.email }}</p>
          <small class="text-primary font-weight-bold">
            <i class="fas fa-phone"></i> Número Telefónico
          </small>
          <p class="participant-info">{{ individual.phone }}</p>
          <small class="text-primary font-weight-bold">
            <i class="fas fa-mobile"></i> Teléfono Celular
          </small>
          <p class="participant-info">{{ individual.mobilePhone }}</p>
          <small *ngIf="individual.participantTypeId == 1" class="text-primary font-weight-bold">
            <i class="fas fa-birthday-cake"></i> Fecha de nacimiento (edad)
          </small>
          <p *ngIf="individual.participantTypeId == 1" class="participant-info">{{ individual.birthDate | date:
            'mediumDate' : '+0600' }}
            <em>({{ individual.age }})</em>
          </p>
          <small *ngIf="individual.participantTypeId == 2" class="text-primary font-weight-bold">
            <i class="far fa-building"></i> Fecha de constitución
          </small>
          <p *ngIf="individual.participantTypeId == 2" class="participant-info">{{ individual.birthDate | date:
            'mediumDate' : '+0600' }}</p>
          <small *ngIf="individual.participantTypeId == 1" class="text-primary font-weight-bold">
            <i class="fas fa-venus-mars"></i> Género
          </small>
          <p *ngIf="individual.participantTypeId == 1" class="participant-info">{{ individual.gender.name }}</p>
          <small class="text-primary font-weight-bold">
            <i class="fas fa-globe"></i> Sitio Web
          </small>
          <p class="participant-info">{{ individual.webSite }}</p>
          <small class="text-primary font-weight-bold">
            <i class="fas fa-map-marker"></i> Dirección
          </small>
          <p class="participant-info">{{ individual.address }}</p>
          <agm-map *ngIf="position" [latitude]="position.lat" [longitude]="position.lng" [zoom]=15>
            <agm-marker [latitude]="position.lat" [longitude]="position.lng"></agm-marker>
          </agm-map>
          <small class="text-primary font-weight-bold">
            <i class="fas fa-user-plus"></i> Creado por
          </small>
          <p class="participant-info">{{ individual.createdUser.userName }} - {{ individual.createDate | date:
            'd/MM/yyyy, h:mm a' }}</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <i class="far fa-edit fa-fw"></i> Tareas</ng-template>
        <ng-template ngbTabContent>
          <participant-tasks [participant]="individual"></participant-tasks>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
