<div class="row d-flex align-content-center justify-content-center">
  <div class="col-md-6">
    <app-card>
      <div card-section="body">
        <h4 class="card-title">Nuevo Usuario</h4>
        <form [formGroup]="_userForm" novalidate (ngSubmit)="saveUser(_user)">
          <div class="form-group">
            <label class="form-control-label" for="">Nombre</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': !_userForm.controls.userName.valid && !_userForm.controls.userName.pristine}"
              [(ngModel)]="_user.userName" id="name" required #name name="name" formControlName="userName" placeholder="Nombre de usuario">
            <small *ngIf="!_userForm.controls.userName.valid && !_userForm.controls.userName.pristine" class="invalid-feedback animated fadeIn">Nombre requiere al menos 5 caracteres</small>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="">Email</label>
            <input type="email" class="form-control" [ngClass]="{'is-invalid': !_userForm.controls.email.valid && !_userForm.controls.email.pristine}"
              [(ngModel)]="_user.email" formControlName="email" email placeholder="Correo de electrónico de usuario">
            <small *ngIf="!_userForm.controls.email.valid && !_userForm.controls.email.pristine" class="invalid-feedback animated fadeIn">Dirección de correo inválida</small>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="rol">Rol Usuario</label>
            <select class="custom-select form-control" [(ngModel)]="_user.roleId" formControlName="roleId" name="rol" id="rol">
              <option [value]="undefined" [disabled]="true">---Seleccionar---</option>
              <option *ngFor="let role of _roles" [value]="role.id">{{ role.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="">Contraseña</label>
            <input type="password" class="form-control" [ngClass]="{'is-invalid': !_userForm.controls.password.valid && !_userForm.controls.password.pristine}"
              [(ngModel)]="_user.password" formControlName="password" name="password" id="" placeholder="Contraseña de usuario">
            <small *ngIf="!_userForm.controls.password.valid && !_userForm.controls.password.pristine" class="invalid-feedback animated fadeIn">Contraseña requiere al menos 6 caracteres</small>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="">Confirmar contraseña</label>
            <input type="password" class="form-control" [ngClass]="{'is-invalid': !_userForm.controls.passwordConfirm.pristine && _userForm.controls.passwordConfirm.value != _userForm.controls.password.value }"
              formControlName="passwordConfirm" name="confirm-password" id="confirm-password" placeholder="Confirmación de contraseña">
            <small *ngIf="!_userForm.controls.passwordConfirm.pristine && _userForm.controls.passwordConfirm.value != _userForm.controls.password.value"
              class="invalid-feedback animated fadeIn">La confirmación de contraseña no coincide</small>
          </div>
          <div class="form-group d-flex justify-content-end ">
            <a [routerLink]="['../']" class="btn btn-outline-secondary" role="button">
              <i class="fas fa-ban" aria-hidden="true"></i> Cancelar
            </a>
            <button type="submit" [disabled]="!_userForm.valid" class="btn btn-primary">
              <i class="far fa-hdd" aria-hidden="true"></i> Guardar</button>
          </div>
        </form>
      </div>
    </app-card>
  </div>
</div>
