<form #customForm="ngForm" (ngSubmit)="activeModal.close()">
  <div class="modal-header">
    <h5 class="modal-title" *ngIf="!item.id">Nuevo elemento</h5>
    <h5 class="modal-title" *ngIf="item.id">Editar elemento</h5>
    <button type="button" class="close" aria-label="close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngFor="let field of fields">
      <div class="form-group row" *ngIf="!field.readonly">
        <label for="{{ field.name }}" class="col-sm-4 col-form-label">{{ field.title }}
          <small *ngIf="!field.required" class="optional-label"><i>(Opcional)</i></small>
        </label>
        <div class="col-sm-8">
          <ng-container [ngSwitch]="true">
            <select *ngSwitchCase="field.type === 'object'" [(ngModel)]="item[field.objectID]" (ngModelChange)="updateObject($event)"
              class="custom-select form-control" [required]="field.required" [name]="field.objectID" [id]="field.name">
              <option [value]="undefined" [disabled]="true">---Seleccionar---</option>
              <ng-container *ngIf="field.list">
                <option *ngFor="let val of field.list" [value]="val[field.listID]">
                  {{ val[field.listDisplay] }}
                </option>
              </ng-container>
            </select>
            <select *ngSwitchCase="field.type === 'boolean'" [required]="field.required" [(ngModel)]="item[field.name]" class="custom-select form-control"
              [name]="field.name" [id]="field.name">
              <option [value]="undefined" [disabled]="true">---Seleccionar---</option>
              <option [value]="true"> Sí </option>
              <option [value]="false"> No </option>
            </select>
            <textarea *ngSwitchCase="field.type === 'text'" [required]="field.required" class="form-control" [id]="field.name" [name]="field.name"
              [cols]="2" [readOnly]="field.readonly" [(ngModel)]="item[field.name]"></textarea>
            <input *ngSwitchCase="field.type === 'file'" [required]="field.required" type="file" class="form-control" accept=".pdf, .jpg, .jpeg, .png"
              (change)="setFile($event, field)">
            <app-date-input [(ngModel)]="item[field.name]" [required]="field.required" [name]="field.name" [id]="field.name" *ngSwitchCase="field.type === 'datetime' || field.type === 'date'"></app-date-input>
            <input *ngSwitchCase="field.type === 'money' || field.type === 'number'" [(ngModel)]="item[field.name]" [required]="field.required" type="number" class="form-control" [readOnly]="field.readonly"
              [ngClass]="{'form-control-plaintext': field.readonly}" [id]="field.name" [name]="field.name">
            <input *ngSwitchDefault [(ngModel)]="item[field.name]" [required]="field.required" type="text" class="form-control" [readOnly]="field.readonly"
              [ngClass]="{'form-control-plaintext': field.readonly}" [id]="field.name" [name]="field.name">
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="submit" [disabled]="!customForm.form.valid" class="btn btn-primary">
      <i class="far fa-save fa-fw"></i> Guardar
    </button>
  </div>
