@import url('https://fonts.googleapis.com/css?family=Niramit:400,500,700')
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700')
@import '_variables.sass'

router-outlet ~ *
  width: 100%;

body,
button,
input,
input.form-control,
button.form-control,
optgroup,
select,
select.form-control,
select.form-control > option,
textarea,
textarea.form-control,
.tooltip
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 400


h1, h2, h3, h4, h5, h6, .card-title
  font-family: 'Niramit'

@media screen and (min-width: 768px)
  body,
  button,
  input,
  input.form-control,
  button.form-control,
  optgroup,
  select,
  select.form-control,
  select.form-control > option,
  textarea,
  textarea.form-control,
  .tooltip
    font-size: 12px

.form-control
  border: 1px solid transparent !important
  background-color: hsl(210, 9%, 96%)
  -webkit-transition : border 300ms ease-out;
  -moz-transition : border 300ms ease-out;
  -o-transition : border 300ms ease-out;
  transition : border 300ms ease-out;

.form-control:focus
  background-color: hsl(210, 9%, 96%)
  box-shadow: none;
  border-bottom: 1.5px solid $brand-primary !important

.card-header
  border-top-left-radius: 0.55rem !important
  border-top-right-radius: 0.55rem !important

.form-control.ng-dirty.ng-invalid
  border-bottom: 1.5px solid #e74c3c !important

.form-control.is-valid
  border-bottom: 1.5px solid #28a745 !important

.justify-content-end > .btn.btn-primary,
.justify-content-end > .btn.btn-secondary,
.justify-content-end > .btn.btn-success
  margin-left: 15px

.card-header > .card-title
  margin-bottom: 0 !important

.input-group-prepend
  border-top-right-radius: 0
  border-bottom-right-radius: 0

.input-group > .input-group-text
  border-radius: 0 !important

.btn
  font-size: 1.15em
  font-weight: 500

.btn:disabled
  cursor: not-allowed !important

.card-header a
  text-decoration: none

button.form-control
  text-align: left !important

main
  background-color: #f7f7f8
  min-height: 100vh !important

label > .typcn
  font-size: 1.5em

.btn-sm > .typcn
  font-size: 1em


small.text-muted > .typcn
  font-size: 1.5em


.btn
  cursor: pointer

.typcn
  font-size: 1.25em

.breadcrumb
  background-color: #eceeef
  border-width: 0

.card-header
  background-color: transparent
  border-bottom-color: transparent

.select-item
  text-decoration: none
  text-transform: capitalize

.spinner
  height: 80px

.tooltip
  font-size: 13px

.form-control,
.input-group,
.input-group-addon,
.breadcrumb,
.card-header,
.card-footer,
.pagination,
.input-group-text,
.nav-pills .nav-link
  border-radius: 0.35rem

.btn
  border-radius: .225rem

.modal-dialog
  max-width: 600px


.modal-title
  font-weight: 600

.modal-header
  border-bottom-width: 0
  border-top: 5px solid $brand-primary


.modal-footer
  border-top-width: 0
  background-color:  rgba(0,0,0,.03);

.card,
.modal-content,
.list-group
  border-radius: 0.55rem

.modal-header
  border-top-right-radius: .55rem
  border-top-left-radius: .55rem

.list-group-item:first-child
  border-top-right-radius: 0.55rem
  border-top-left-radius: 0.55rem

.list-group-item:last-child
  border-bottom-right-radius: 0.55rem
  border-bottom-left-radius: 0.55rem

.input-group > input
  border-top-right-radius: 0 !important
  border-bottom-right-radius: 0 !important


.input-group-addon
  padding-bottom: 2px
  padding-top: 2px
  border-top-left-radius: 0 !important
  border-bottom-left-radius: 0 !important

.btn-sm
  font-size: 0.75em

.btn
  border-color: transparent
  text-transform: uppercase

.text-muted
  color: #99abb4 !important


.btn-block
  margin: 0


.card-header
  font-weight: bold


.card,
.breadcrumb,
.navbar,
.list-group,
.dropdown-menu
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07)


a:hover
  text-decoration: none


a:not([href]):not([tabindex])
  color: #0275d8

.breadcrumb-item
  text-transform: uppercase


/* Typography */

label
  font-weight: 500

h1,
h3
  margin-bottom: 20px
  padding-bottom: 9px
  border-bottom: 1px solid #eee

/* Sidebar */

.sidebar
  position: fixed
  top: 0
  bottom: 0
  left: 0
  z-index: 1000
  padding: 20px
  overflow-x: hidden
  overflow-y: auto /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee

/* Sidebar navigation */
.sidebar
  padding-left: 0
  padding-right: 0


.sidebar .nav
  margin-bottom: 20px


.sidebar .nav-item
  width: 100%


.sidebar .nav-item + .nav-item
  margin-left: 0


.sidebar .nav-link
  border-radius: 0


/* Dashboard */

/* Placeholders */
.placeholders
  padding-bottom: 3rem


.placeholder img
  padding-top: 1.5rem
  padding-bottom: 1.5rem

/* Transitions */

.animated,
.card,
h3,
td,
.card-footer
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

.fast
  -webkit-animation-duration: 0.5s
  animation-duration: 0.5s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

@keyframes fadeIn
  from
    opacity: 0


  to
    opacity: 1

@keyframes fadeOut
  from
    opacity: 1


  to
    opacity: 0



.fadeIn,
.card,
h3,
td,
.card-footer
  animation-name: fadeIn


.card
  margin-bottom: 20px


ngb-tabset > .tab-content
  margin-top: 20px


ngb-tabset ul.nav-pills
  padding-left: 15px


ngb-tabset ul.nav-pills .nav-link
  text-transform: uppercase


ul.nav-pills .nav-link.active
  background-color: $brand-primary


ngb-tabset ul.nav-tabs a.nav-link
  border-width: 0 0 1px 0


ngb-tabset > ul.nav-tabs
  border-bottom: 1px solid #ccc


ngb-tabset > ul.nav-tabs > li.nav-item > a.nav-link.active
  border-bottom: 1px solid #0275d8
  border-radius: 0
  font-weight: 700


ngb-tabset > ul.nav-tabs > li.nav-item > a.nav-link
  background-color: inherit !important
  color: #292b2c !important
  text-transform: uppercase
  font-weight: 500


.card > ngb-tabset > ul.nav-tabs > li.nav-item > a.nav-link
  padding: 15px 20px


ngb-tabset > ul.nav-tabs > li.nav-item
  margin-bottom: -1px


/* enable absolute positioning */
.inner-addon
  position: relative


.fa-lg
  font-size: 1.65em
  cursor: pointer


/* style icon */
.inner-addon .fa
  position: absolute
  padding: 10px
  pointer-events: none


/* align icon */
.left-addon .fa
  left: 0px

.right-addon .fa
  right: 0px


/* add padding  */
.left-addon input
  padding-left: 30px

.right-addon input
  padding-right: 30px


.ngb-dp-day > .btn-secondary
  color: inherit
  background-color: inherit
  border-color: inherit


.ngb-dp-day > .btn-secondary:hover
  color: #fff
  background-color: #4ca2ff
  border-color: #4ca2ff


.cal-day-badge
  background-color: #c0392b !important


/* Button Primary*/
.btn-primary,
.page-item.active .page-link,
.nav-pills .nav-link.active, .list-group-item.active
  background-color: $brand-primary !important

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus
  background-color: #206594 !important
  box-shadow: none

.btn-outline-primary
  color: $brand-primary !important
  border: 1px solid darken($brand-primary, 5%)

.text-primary
  color: $brand-primary !important

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.page-item.active .page-link:hover
  color: darken($brand-primary, 15%)
  background-color: lighten($brand-primary, 45%)

/* Button danger */
.btn-danger
  background-color: $brand-danger !important

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus
  background-color: #c0392b !important

.text-danger
  color: $brand-danger !important

.btn-outline-danger
  color: $brand-danger !important
  border: 1px solid darken($brand-danger, 10%)

.btn-outline-danger:hover,
.btn-outline-danger:active,
.btn-outline-danger:focus
  color: darken($brand-danger, 5%)
  background-color: lighten($brand-danger, 55%)

/*  Button Success */

.btn-success
  background-color: #2ecc71 !important

.btn-success:hover,
.btn-success:active,
.btn-success:focus
  background-color: #27ae60 !important

.btn-outline-success
  color: $brand-success !important
  border: 1px solid darken($brand-success, 10%)

.text-success
  color: #27ae60 !important


.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success:focus
  color: darken($brand-success, 15%)
  background-color: lighten($brand-success, 45%)

/*  Button Secondary */

.btn-secondary
  background-color: $brand-secondary

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus
  background-color: $brand-secondary

.btn-outline-secondary
  color: $brand-secondary
  border: 1px solid darken($brand-secondary, 5%)

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus
  color: darken($brand-secondary, 15%)
  background-color: lighten($brand-secondary, 55%)

a
  color: #206594

a:not([href]):not([tabindex])
  color: #206594

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus
  background-color: #206594

/* Backgrounds */
.bg-primary
  background-color: $brand-primary !important

.border-primary
  border-color: $brand-primary !important

.bg-warning
  background-color: #f1c40f !important

.bg-danger
  background-color: #c0392b !important

.bg-secondary
  background-color: #95a5a6 !important

.bg-success
  background-color: #27ae60 !important

.card
  border-width: 0

.btn-group > .btn:not(:first-child):not(:last-child)
  border-radius: 0 !important

.btn-group > .btn:first-child
  border-top-right-radius: 0 !important
  border-bottom-right-radius: 0 !important

.btn-group > .btn:last-child
  border-top-left-radius: 0 !important
  border-bottom-left-radius: 0 !important

.lds-ripple
  display: inline-block
  position: relative
  width: 64px
  height: 64px

.lds-ripple div
  position: absolute
  border: 4px solid #fff
  opacity: 1
  border-radius: 50%
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite

.lds-ripple div:nth-child(2)
  animation-delay: -0.5s

@keyframes lds-ripple
  0%
    top: 28px
    left: 28px
    width: 0
    height: 0
    opacity: 1

  100%
    top: -1px
    left: -1px
    width: 58px
    height: 58px
    opacity: 0

.badge-danger
  background-color: lighten($brand-danger, 45%)
  color: $brand-danger

.badge-warning
  background-color: lighten($brand-warning, 45%)
  color: darken($brand-warning, 15%)

.badge-success
  background-color: lighten($brand-success, 45%)
  color: darken($brand-success, 15%)

.badge-secondary
  background-color: lighten($brand-secondary, 55%)
  color: $brand-secondary
