<ngb-tabset type="tabs">
  <ngb-tab>
    <ng-template ngbTabTitle>
      <i class="far fa-list-alt fa-fw"></i> Planificador
    </ng-template>
    <ng-template ngbTabContent> <assignments></assignments> </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <i class="far fa-calendar-alt fa-fw"></i> Calendario
    </ng-template>
    <ng-template ngbTabContent> <app-calendar></app-calendar> </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <i class="fas fa-road fa-fw"></i> Cronogramas
    </ng-template>
    <ng-template ngbTabContent> <app-projects></app-projects> </ng-template>
  </ngb-tab>
</ngb-tabset>
